<center>
<div class="p-3 mb-2 bg-dark text-white">
<h1 class="text-primary">Editing Homework</h1>
<%= render 'form', homework: @homework %>


<%= link_to 'Show', @homework %> 
<%= link_to 'Back', homeworks_path %>
</div>

</center>